/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

    
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 15px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* NAVIGATION MENU */
header {
    display: flex;
    justify-content: space-between;
}

#logo {
    margin: 30px 0;
}

.nav {
    display: flex;
    gap: 68px;
}

.nav a {
    padding: 14px 0;
    border-top: 2px solid transparent;
}

.nav a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}


a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;    
}
/* titre  sous-titre et barre de recherche */
.info-title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.sous-titre {
    margin-top: 8px;
}

.barre-de-recherche{
    display: flex;
    height: 49px;
    
}

.bar-location {
    width: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    font-size: 20px;
    align-items: center;
    color: black;  
}
    

#bar-text {
    border-left: none;
    border-right: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

#bar-button {
    border: none;
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    padding: 0 16px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#bar-button-icon {
    display: none;
    
}
/****** Filtres ***********/
.filters {
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
    align-items: center;
}

.filters-buttons {
    display: flex;
    align-items: center;
    gap:15px;
}

.filter-button {
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 19px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    background-color: transparent;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

/****** Info i ***********/
.info-i {
    font-size: 13px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    padding: 5px 9px;
    margin-right: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 27px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--main-bg-color);
    width: 65%;
   
}
.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements a {width: 29.6%;}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.hebergements-cards .card img {
    height: 119px;
    border-radius: 20px 20px 0 0;
    border-bottom: solid 5px white;
    
    
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 8px;
    margin: 0px;
}

.hebergements-cards .card-rating {
    margin-bottom: 12px;
}

.showMore-btn {
    font-weight: 700;
    font-size: 18px;

}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activités ***********/
.section-activites {
    margin-bottom: 35px;
    padding:30px;
}

.activites-cards {
    display: flex;
    margin: 0;
    gap: 30px;
}

.activites-cards a { 
    width: 25%; 
}


.activites-cards .card {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.activites .card {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.activites-cards .card-content {
    padding: 10px 19px;
    
}

/****** Footer ***********/
.bas-de-page {
    margin-top: 35px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.information {
    width: 33%;
    padding: 15px;
}

.h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* Filtres version tablette  */
    .filter-buttons { 
        font-size: 25px;
        gap: 18px;
    }

    .filters { 
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
   
    /* section hebergements  */

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    /* section populaire  */

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
      /* Section Activites  */

      .activites-cards img { height: 200px; }
      .activites-cards .card-content { white-space: initial;}
      .activites-cards .card { height: 100%; }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        padding: 0;
    }
 /* Header */
    header {
        flex-direction: column;
        align-items: center;
      }
       /* Logo Booki mobile  */
      header img {
        margin: /*30px*/ 1.87rem;
      }
    
       /* Navigation Menu  */
      nav {
        width: 100%;
        display: grid;
    }
    .nav {
        gap: 0;
        padding-top: 0;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
    
    .nav li{
        flex: 1;
        text-align: center;
        display: flex;
    }
    
    .nav a {
        flex: 1;
        border-bottom: 2px solid #d9d9d9;
    }
    
    .nav a:hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid var(--main-color);
    }
    
    .info-title {
        margin: 30px 20px 0 20px;
    }
    
    /* barre de recherche  */
    .barre-de-recherche {
        padding-left: 10px;
    }
    #bar-text {
        flex: 1;
        width: 100%;
        text-align: start;
        padding: 0 35px 0 20px;
    }
    
    #bar-button {
        display: none;
    }
    
    #bar-button-icon {
        position: relative;
        left: -10px;
        height: 49px;
        display: inline;
        border: none;
        background-color: var(--main-color);
        border-radius: 15px;
        padding: 0 16px;
        font-weight: 700;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
    #bar-button-icon i {
        color: white;
        font-size: 18px;
    }
    /* Filtres */
    
    .filters-buttons  {
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px 10px;
    }
    
    .filter-button {
        font-weight: 700;
        font-size: 12px;
        justify-content: center;
        width: calc(50% - 15px);
    }
    .info-text{
        font-size:15px;
    }
    
    /***** populaire section *****/

    .populaires { order: -1; }
    .populaires-cards { flex-direction: column; }
    .populaires-cards a { width: 100%; }

          
     /***** hebergements sections *****/

     .hebergements-and-populaires { padding: 0; }
     .hebergements-and-populaires .hebergements { background-color: white; }
     .hebergements-cards { flex-direction: column; }
     .hebergements-cards a { width: 100% ;}
 
     .hebergements-and-populaires section { 
        border-radius: 0;
        padding: 30px 20px;
    }
     
   
    
    /***** activites sections  *****/

    .section-activites { padding: 30px; }
    .activites-cards img { height: 140px; }
    .activites-cards { flex-direction: column;  gap: 15px;}
    .activites-cards a { width: 100%; }


    /****** Footer ******/
    .bas-de-page {
        flex-direction: column;
        gap: 30px;
        padding: 15px;
    }

    .information {
        width: 100%;
        padding: 0;
    }
}
